/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #1A1A1A;
}
body.no-scroll{
    overflow: hidden;
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
img{
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
}
a{
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
a:hover{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
button, input, textarea{
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    font-weight: 400;
	color: #fff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    font-family: 'Poppins', sans-serif;
}
input::-moz-placeholder, textarea::-moz-placeholder{
    font-family: 'Poppins', sans-serif;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    font-family: 'Poppins', sans-serif;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder{
    font-family: 'Poppins', sans-serif;
}
input::placeholder, textarea::placeholder{
    font-family: 'Poppins', sans-serif;
}
button{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
button:hover{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
p{
    margin: 0;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.cta{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.85%, #0085FF), to(#0057FF));
    background: -o-linear-gradient(top, #0085FF -1.85%, #0057FF 100%);
    background: linear-gradient(180deg, #0085FF -1.85%, #0057FF 100%);
    border-radius: 16px;
    padding: 20px 41px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3em;
}
.cta:hover{
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}
.section-title{
    max-width: 539px;
    margin: 0 auto 60px;
    text-align: center;
}
.section-title__h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3em;
    color: #B8D0ED;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.section-title__p{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
}
.main{
    overflow: hidden;
}
.common-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3em;
    margin-bottom: 30px;
}

/* #region Header */
.header{
    padding: 20px 0;
}
.header-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-logo__img{
    width: 40px;
    height: 32px;
    margin-right: 14px;
}
.header-logo-title{
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
}
.header-logo-title__600{
    font-weight: 600;
}
.header-logo-title__500{
    font-weight: 500;
}
.header-nav__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3em;
    color: #FFFFFF;
}
.header-nav__link:not(:last-of-type){
    margin-right: 35px;
}
.header-nav__link:hover{
    color: rgba(255, 255, 255, 0.55);
}
.header-nav__link_active, .header-nav__link_active:hover{
    color: #0180FF;
}
.header-login-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-login-user{
    line-height: 1.3em;
    font-weight: 400;
    margin-right: 35px;
}
.header-login-user__title{
    color: rgba(255, 255, 255, 0.5);
}
.mobile-menu-toggle{
    width: 30px;
    height: 30px;
    background: url("../img/icons/menu-white.svg") no-repeat center center/contain;
    margin-left: 15px;
    display: none;
}
.mobile-menu-close{
    width: 15px;
    height: 15px;
    background: url("../img/icons/close.svg") no-repeat center center/contain;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}
.header-login__btn_mobile{
    display: none;
}
/* #endregion */

/* #region Hero */
.hero{
    padding: 65px 0 251px;
    position: relative;
}
.hero::before{
    content: "";
    width: 565px;
    height: 557px;
    background: url("../img/elements/header_left.svg") no-repeat center center/contain;
    position: absolute;
    left: -393px;
    top: 40px;
}
.hero::after{
    content: "";
    width: 641px;
    height: 732px;
    background: url("../img/elements/header_right.svg") no-repeat center center/contain;
    position: absolute;
    top: 49px;
    z-index: 1;
    right: -267px;
}
.hero-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}
.hero-wrapper::before{
    content: "";
    position: absolute;
    width: 742px;
    height: 742px;
    background: rgba(1, 122, 255, 0.15);
    -webkit-filter: blur(500px);
            filter: blur(500px);
    z-index: -1;
    left: calc(-742px + 133px);
    top: 63px;
    border-radius: 50%;
}
.hero-wrapper::after{
    content: "";
    position: absolute;
    width: 742px;
    height: 742px;
    background: rgba(1, 122, 255, 0.15);
    -webkit-filter: blur(500px);
            filter: blur(500px);
    z-index: 2;
    right: -367px;
    top: 72px;
    border-radius: 50%;
}
.hero-wrapper__offer{
    max-width: 674px;
    margin-right: 30px;
    padding-top: 87px;
}
.hero-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 45px;
}
.hero-title__blue{
    color: #0180FF;
}
.hero-description{
    font-size: 16px;
    line-height: 32px;
    color: #B8D0ED;
    max-width: 475px;
    margin-bottom: 45px;
}
.hero-btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hero-btn_discord{
    background: #111111;
    margin-left: 30px;
}
.hero-wrapper__img{
    position: relative;
}
.hero-wrapper-image{
    position: relative;
    z-index: 2;
    width: 630px;
}
.hero-alert{
    position: absolute;
}
.hero-alert_1{
    width: 445px;
    height: 84px;
    top: 77px;
    left: -31px;
    z-index: 1;
}
.hero-alert_2{
    width: 548px;
    height: 103px;
    top: 193px;
    right: -296px;
}
.hero-alerts-object{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #DAE8FF;
    -webkit-box-shadow: 0px 10px 40px 0px #2222220d;
            box-shadow: 0px 10px 40px 0px #2222220d;
    padding: 25px 20px;
    border-radius: 16px;
    z-index: 2;
    left: 92px;
    bottom: -73px;
    width: 644px;
}
.hero-alerts-logo-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #111111;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.hero-alerts-logo{
    width: 64px;
    height: 64px;
    background: #1E50FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 15px;
}
.hero-alerts-logo__img{
    width: 28px;
    height: 24px;
}
.hero-alerts-company__name{
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 1em;
    text-transform: capitalize;
}
.hero-alerts-company__subtitle{
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1em;
    margin-top: 5px;
}
.hero-alerts-list{
    margin-left: 25px;
}
.hero-alert-item{
    color: rgba(17, 17, 17, 0.5);
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}
.hero-alert-item::before{
    content: "[Polar]";
    color: #1E50FF;
    font-size: 14px;
    line-height: 24px;
}
.hero-alert-item__black{
    color: rgba(17, 17, 17, 1);
}
/* #endregion */

/* #region Features */
.features{
    padding: 44px 0 164px;
}
.features-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.feature{
    width: calc(calc(100% - 60px) / 3);
    background: -o-linear-gradient(342.94deg, rgba(1, 122, 255, 0.36) -2.46%, rgba(18, 34, 88, 0.35) 101.07%);
    background: linear-gradient(107.06deg, rgba(1, 122, 255, 0.36) -2.46%, rgba(18, 34, 88, 0.35) 101.07%);
    -webkit-box-shadow: 0px 10px 40px rgb(34 34 34 / 5%);
            box-shadow: 0px 10px 40px rgb(34 34 34 / 5%);
    border-radius: 20px;
    padding: 40px;
}
.feature:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
.feature__img{
    width: 40px;
    height: 40px;
}
.feature-title{
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    color: #0176FF;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0 10px;
}
.feature-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
}
/* #endregion */

/* #region Plans */
.plans{
    padding-bottom: 137px;
    position: relative;
    z-index: 1;
}
.plans-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.plan{
    width: calc(calc(100% - 60px) / 3);
    background: -o-linear-gradient(342.94deg, rgba(1, 122, 255, 0.36) -2.46%, rgba(18, 34, 88, 0.35) 101.07%);
    background: linear-gradient(107.06deg, rgba(1, 122, 255, 0.36) -2.46%, rgba(18, 34, 88, 0.35) 101.07%);
    padding: 40px;
    -webkit-box-shadow: 0px 10px 40px rgb(34 34 34 / 5%);
            box-shadow: 0px 10px 40px rgb(34 34 34 / 5%);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.plan-top-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.plan-img{
    width: 70px;
    height: 70px;
}
.plan-price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}
.plan-price__value{
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.plan-price__value::before{
    content: "€";
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
}
.plan-price__period{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.plan-title{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    color: #0176FF;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;

}
.plan-description{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 305px;
}
.plan-features{
    margin-top: 25px;
}
.plan-feature{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.plan-feature:not(:last-of-type){
    margin-bottom: 20px;
}
.plan-feature::before{
    content: "";
    width: 12px;
    height: 9px;
    background: url("../img/icons/check.svg") no-repeat center center/contain;
    margin-right: 15px;
}
.plan-feature_times::before{
    width: 12px;
    height: 12px;
    background: url("../img/icons/times-red.svg") no-repeat center center/contain;
}
.plan-purchase{
    margin-top: 50px;
}
/* #endregion */

/* #region Footer */

/* #region Cabinet */
.cabinet{
    position: relative;
    overflow: hidden;
}
.subscriptions{
    padding: 25px 0 64px;
    position: relative;
    z-index: 0;
}
.subscriptions::before {
    content: "";
    position: absolute;
    width: 742px;
    height: 742px;
    background: rgba(1, 122, 255, 0.15);
    -webkit-filter: blur(500px);
            filter: blur(500px);
    z-index: -1;
    left: calc(-742px + 133px);
    top: 63px;
    border-radius: 50%;
}
.subscriptions-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
}
.subscriptions-wrapper::-webkit-scrollbar, .subscriptions-wrapper::-webkit-scrollbar-track, .subscriptions-wrapper::-webkit-scrollbar-thumb, .subscriptions-wrapper::-webkit-scrollbar-thumb:hover{
    display: none;
}
.subscription{
    width: 320px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 26px;
    background: url("../img/elements/subscription-bg.png") no-repeat center center/cover;
    min-height: 211px;
    padding: 25px 40px 40px 40px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
}
.subscription::after{
    content: "";
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.85%, #515151), to(#131313));
    background: -o-linear-gradient(top, #515151 -1.85%, #131313 100%);
    background: linear-gradient(180deg, #515151 -1.85%, #131313 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.subscription_active::after{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.85%, #0085FF), to(#0057FF));
    background: -o-linear-gradient(top, #0085FF -1.85%, #0057FF 100%);
    background: linear-gradient(180deg, #0085FF -1.85%, #0057FF 100%);
}
.subscription:not(:last-of-type){
    margin-right: 50px;
}
.subscription_active{

}
.subscription__title{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 1px;
}
.subscription__date{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3em;
    color: rgba(255,255,255,0.75);
}
.subscription__link{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.subscription__manage_manage::after{
    content: "";
    width: 20px;
    height: 18px;
    background: url("../img/icons/manage.svg") no-repeat center center/contain;
    margin-left: 15px;
}
.subscription__manage_buy::after{
    content: "";
    width: 19px;
    height: 20px;
    background: url("../img/icons/buy.svg") no-repeat center center/contain;
    margin-left: 13px;
}
.subscription-wrapper{

}
.cabinet::before {
    content: "";
    width: 505px;
    height: 634px;
    background: url("../img/elements/page_left.svg") no-repeat center center/contain;
    position: absolute;
    left: -291px;
    top: 178px;
}
.cabinet::after {
    content: "";
    width: 642px;
    height: 733px;
    background: url("../img/elements/page_right.svg") no-repeat center center/contain;
    position: absolute;
    right: -323px;
    bottom: 52px;
}
/* #endregion */

.footer{
    padding: 70px 0 40px;
}
.footer-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 60px;
}
.footer-top__left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.footer-logo-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.footer-logo{
    width: 60px;
    height: 50.43px;
    margin-right: 24px;
}
.footer-logo-company{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-logo-company__name{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3em;
    font-family: 'Montserrat', sans-serif;
}
.footer-logo-company__name-span{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3em;
}
.footer-logo-company__subtitle{
    font-weight: 500;
    font-size: 14.5px;
    line-height: 1.3em;
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat', sans-serif;
}
.footer-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Montserrat', sans-serif;
    margin-left: 109px;
    max-width: 276px;
    color: rgba(255,255,255,0.55);
}
.footer-top__right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-nav-block:not(:last-of-type){
    margin-right: 79px;
}
.footer-nav-block__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.footer-nav-links{
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 20px;
}
.footer-nav-links__li:not(:last-of-type){
    margin-bottom: 10px;
}
.footer-nav-link:hover{
    color: #fff;
}
.footer-bottom{
    padding-top: 40px;
    border-top: 1px solid rgba(255,255,255,0.6);
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.footer-copyright{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Montserrat';
    margin-bottom: 20px;
    display: block;
}
.footer-alert{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Montserrat';
}
/* #endregion */

/* #region Settings */
.settings{
    padding: 25px 0 291px;
    position: relative;
    z-index: 3;
}
.settings-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.setting{
    width: calc(calc(100% - 76px) / 2);
    background: #fff;
    border-radius: 20px;
    padding: 23px 60px 30px;
    color: #000;
}
.setting-title-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.setting-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
}
.setting-limits{
    margin-left: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #017CFF;
    background: #F6F6F6;
    padding: 12px 25px;
    border-radius: 12px;
}
.setting-table{
    margin-top: 18px;
}
.setting-table-title_span{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #949494;
}
.setting-table-row_title{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 17px;
    border-bottom: 1px solid #EFEFEF;
}
.setting-table-title{
    width: 25%;
}
.setting-table-status{
    width: 50%;
    text-align: center;
}
.setting-table-actions{
    width: 25%;
    text-align: right;
}
.setting-table-body{
    margin-top: 28px;
}
.setting-table-row_body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.setting-table-row_body:not(:last-of-type){
    margin-bottom: 35px;
}
.setting-table-title-value{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    width: 25%;
}
.setting-table-status-value{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #017BFF;
    width: 50%;
    text-align: center;
}
.setting-table-title-value_orange{
    color: #FF8A1E;
}
.setting-table-actions-wrapper{
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.table-action-btn{
    border-radius: 12px;
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.table-action-btn:not(:last-of-type){
    margin-right: 14px;
}
.table-action-btn_check{
    background: #C8FFCD;
}
.table-action-btn_check::after{
    content: "";
    width: 16px;
    height: 12px;
    background: url("../img/icons/check-green.svg") no-repeat center center/contain;
}
.table-action-btn_times{
    background: #FFC8C8;
}
.table-action-btn_times::after{
    content: "";
    width: 12px;
    height: 12px;
    background: url("../img/icons/times-red.svg") no-repeat center center/contain;
}
.setting-add-card{
    margin-top: 24px;
    width: 100%;
    padding: 10px 0;
}
.setting-back{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3em;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 67px;
}
.setting-back::before{
    content: "";
    width: 25px;
    height: 25px;
    background: url("../img/icons/arrow-back.svg") no-repeat center center/contain;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 25px;
}
.settings-page{
    position: relative;
    overflow: hidden;
}
.settings-page::before {
    content: "";
    width: 505px;
    height: 634px;
    background: url("../img/elements/page_left.svg") no-repeat center center/contain;
    position: absolute;
    left: -291px;
    top: 178px;
}
.settings-page::after {
    content: "";
    width: 642px;
    height: 733px;
    background: url("../img/elements/page_right.svg") no-repeat center center/contain;
    position: absolute;
    right: -323px;
    bottom: -344px;
}
/* #endregion */
.article{
    padding: 25px 0 319px;
    position: relative;
    z-index: 2;
}
.article p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3em;
}
.article p:not(:last-of-type){
    margin-bottom: 20px;
}

@media screen and (max-width: 1590px){
    .hero-alerts-object {
        left: -10px;
    }
    .cabinet::before {
        left: -380px;
    }
    .cabinet::after {
        right: -500px;
    }
}

@media screen and (max-width: 1399px){
    .container{
        width: 1140px;
    }
    .hero-wrapper-image {
        width: 520px;
    }
    .hero-title {
        font-size: 55px;
        line-height: 70px;
        margin-bottom: 25px;
    }
    .hero-description {
        margin-bottom: 35px;
    }
    .hero-alerts-object {
        left: -100px;
        padding: 20px;
    }
    .hero-wrapper::before {
        left: -300px;
    }
    .hero-wrapper::after {
        right: -300px;
    }
    .feature-title {
        font-size: 22px;
    }
    .setting {
        width: calc(calc(100% - 30px) / 2);
        padding: 30px;
    }
}

@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
    .header-logo-title {
        font-size: 18px;
        line-height: initial;
    }
    .header-nav__link:not(:last-of-type) {
        margin-right: 25px;
    }
    .cta {
        padding: 15px 30px;
    }
    .hero-wrapper-image {
        width: 430px;
    }
    .hero-wrapper__offer {
        padding-top: 0;
    }
    .hero-title {
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    .hero-description {
        margin-bottom: 25px;
    }
    .hero-btn_discord {
        margin-left: 20px;
    }
    .hero-alerts-logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .hero-alerts-company__name {
        font-size: 20px;
    }
    .hero-alerts-company__subtitle {
        font-size: 16px;
    }
    .hero-alerts-list {
        margin-left: 20px;
    }
    .hero-alert-item, .hero-alert-item::before {
        font-size: 12px;
        line-height: 20px;
    }  
    .hero-alerts-object {
        width: 520px;
        padding: 15px;
        left: -80px;
    }
    .hero-alert_1 {
        width: 336px;
        height: 64px;
        top: 50px;
        left: -25px;
    }
    .hero-alert_2 {
        width: 423px;
        height: 80px;
        top: 175px;
        right: -130px;
    }
    .hero::before {
        height: 380px;
    }
    .hero::after {
        height: 475px;
    }
    .hero-wrapper::before {
        left: -300px;
        width: 500px;
        height: 500px;
        -webkit-filter: blur(150px);
                filter: blur(150px);
        top: -40px;
    }
    .hero{
        padding-bottom: 150px;
    }
    .section-title__p{
        font-size: 16px;
    }
    .feature {
        width: calc(calc(100% - 40px) / 3);
        padding: 25px;
    }
    .feature:not(:nth-last-child(-n+3)) {
        margin-bottom: 20px;
    }
    .feature-title {
        font-size: 19px;
        white-space: nowrap;
    }
    .feature-description {
        font-size: 14px;
    }
    .features {
        padding: 50px 0 150px;
    }
    .plan-img {
        width: 60px;
        height: 60px;
    }
    .plan {
        width: calc(calc(100% - 40px) / 3);
        padding: 25px;
    }
    .plans {
        padding-bottom: 150px;
    }
    .footer-logo {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
    .footer-logo-company__name, .footer-logo-company__name-span {
        font-size: 20px;
    }
    .footer-logo-company__subtitle {
        font-size: 12px;
    }
    .footer-description {
        font-size: 14px;
        margin-left: 60px;
    }
    .footer-nav-block:not(:last-of-type) {
        margin-right: 50px;
    }
    .footer-nav-block__title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .footer-nav-link {
        font-size: 14px;
    }
    .footer-nav-links__li:not(:last-of-type) {
        margin-bottom: 5px;
    }
    .footer-copyright {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .footer-alert {
        font-size: 14px;
        line-height: 18px;
    }
    .subscription:not(:last-of-type) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }
    .mobile-menu-toggle{
        display: block;
    }
    .cta {
        padding: 12px 24px;
        line-height: initial;
        font-size: 14px;
    }
    .header-nav {
        position: fixed;
        right: 0;
        top: 0;
        background: #1A1A1A;
        z-index: 5;
        height: 100%;
        width: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 40px;
        right: -100%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    .header-nav_visible{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: 0;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    .header-nav__link:not(:last-of-type){
        margin: 0 0 20px 0;
    }
    .mobile-menu-close{
        display: block;
    }
    .hero-alert_1, .hero-alert_2{
        display: none;
    }
    .hero-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .hero-wrapper__offer {
        margin: 0;
        z-index: 3;
        max-width: 100%;
    }
    .hero-wrapper__img {
        top: -60px;
        z-index: 2;
    }
    .hero::after {
        width: 400px;
        height: 455px;
        right: -130px;
        top: 125px;
    }
    .hero-alerts-object {
        width: 520px;
        padding: 15px;
        left: -45px;
        bottom: -60px;
    }
    .hero {
        padding: 40px 0 120px;
    }
    .features {
        padding: 0 0 120px;
    }
    .section-title__h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .section-title__p {
        font-size: 14px;
        line-height: 20px;
    }
    .section-title {
        margin: 0 auto 40px;
    }
    .feature {
        width: calc(calc(100% - 20px) / 2);
    }
    .feature:not(:nth-last-child(-n+3)) {
        margin-bottom: 0;
    }
    .feature:not(:nth-last-child(-n+2)) {
        margin-bottom: 20px;
    }
    .plan {
        width: 300px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }
    .plan:not(:last-of-type){
        margin-right: 20px;
    }
    .plans-wrapper {
        overflow: auto;
    }
    .plans-wrapper::-webkit-scrollbar, .plans-wrapper::-webkit-scrollbar-track, .plans-wrapper::-webkit-scrollbar-thumb, .plans-wrapper::-webkit-scrollbar-thumb:hover{
        display: none;
    }
    .plans {
        padding-bottom: 120px;
    }
    .footer-top__left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-description {
        margin: 30px 0 0 0;
        max-width: 400px;
    }
    .settings-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .setting {
        width: 100%;
    }
    .setting:not(:last-of-type) {
        margin-bottom: 30px;
    }
    .settings{
        padding-bottom: 150px;
    }
    .footer {
        padding: 40px 0;
    }
}

@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
    .header {
        padding: 30px 0;
    }
    .header-login__btn{
        display: none;
    }
    .header-login__btn_mobile {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    .header-nav_visible{
        width: 100%;
    }
    .hero-wrapper-image{
        display: none;
    }
    .hero-title {
        font-size: 39px;
        line-height: 1.3em;
        margin-bottom: 10px;
    }
    .hero-description {
        margin-bottom: 20px;
        line-height: 1.6em;
        font-size: 14px;
    }
    .hero-btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .cta {
        text-align: center;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
    }
    .hero-btn_discord{
        margin-top: 15px;
    }
    .hero::before {
        height: 250px;
        width: 254px;
        left: -190px;
        top: 90px;
    }
    .hero::after {
        width: 230px;
        height: 225px;
        right: -140px;
        top: -3px;
    }
    .hero-wrapper__img{
        display: none;
    }
    .hero {
        padding: 40px 0 80px;
    }
    .hero-wrapper::before {
        left: -190px;
        width: 350px;
        height: 350px;
        -webkit-filter: blur(100px);
                filter: blur(100px);
        top: -40px;
    }
    .hero-wrapper::after {
        right: -243px;
        width: 350px;
        height: 350px;
        -webkit-filter: blur(100px);
                filter: blur(100px);
        top: 150px;
    }
    .section-title {
        margin: 0 auto 30px;
    }
    .feature:not(:nth-last-child(-n+2)) {
        margin-bottom: 0;
    }
    .feature:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .feature {
        width: 100%;
    }
    .features {
        padding: 0 0 80px;
    }
    .plan {
        width: 100%;
    }
    .plan:not(:last-of-type) {
        margin-right: 0;
    }
    .plans-wrapper {
        overflow: inherit;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .plan:not(:last-of-type){
        margin-bottom: 20px;
    }
    .plan-purchase {
        margin-top: 50px;
    }
    .plans {
        padding-bottom: 100px;
    }
    .footer-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 30px;
    }
    .footer-top__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 30px;
    }
    .footer-top {
        padding-bottom: 30px;
    }
    .footer-copyright {
        font-size: 12px;
        line-height: 16px;
    }
    .footer-bottom{
        padding-top: 30px;
    }
    .footer-alert {
        font-size: 12px;
        line-height: 16px;
    }
    .cabinet::before {
        width: 300px;
        height: 375px;
        left: -220px;
    }
    .cabinet::after {
        right: -470px;
        top: initial;
        bottom: 200px;
    }
    .subscriptions-wrapper {
        overflow: initial;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .subscription {
        width: 100%;
    }
    .subscription:not(:last-of-type) {
        margin: 0 0 20px 0;
    }
    .common-title {
        font-size: 30px;
    }
    .setting-back {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .setting-back::before {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    .setting-title-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .setting-limits {
        margin: 10px 0 0 0;
    }
    .setting {
        padding: 20px;
    }
    .setting-table-row_title{
        display: none;
    }
    .setting-table{
        margin-top: 0;
    }
    .setting-table-body {
        margin-top: 20px;
    }
    .setting-table-row_body{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .setting-table-title-value {
        width: 100%;
        margin-bottom: 10px;
    }
    .table-action-btn {
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }
    .setting-table-status-value {
        text-align: left;
    }
    .setting-add-card {
        margin-top: 25px;
        width: 100%;
        max-width: 100%;
    }
    .settings {
        padding-bottom: 80px;
    }
    .hero-btn {
        margin-left: 0;
    }
    .hero-btn_discord {
        margin-top: 15px;
        margin-left: 0;
    }
    .article p {
        font-size: 16px;
    }
    .article p:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .article{
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
}